.pool-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  margin: 0 auto;
  width: 886px;

  .pool-toast {
    margin: 0 auto;
  }

  .pool-type-title-row {
    margin-bottom: 15px;

    .create-pool-button-col {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
}
