.swap-screen {
  display: flex;
  justify-content: center;

  .swap-card {
    width: 500px;

    .arrow-down-circle-icon {
      font-size: 35px;
    }

    .exchange-rate {
      display: flex;
      justify-content: center;
      margin-bottom: 25px;
    }

    .swap-button {
      width: 100%;
    }
  }
}
