.swap-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .swap-toast {
    margin: 0 auto;
    margin-bottom: 35px;
  }

  .swap-card {
    width: 500px;

    .arrow-down-circle-icon {
      font-size: 35px;
    }

    .exchange-rate {
      display: flex;
      justify-content: center;
      margin-bottom: 25px;
    }

    .swap-button {
      width: 100%;
    }
  }
}
