.header {
  margin-top: 1%;
  margin-bottom: 60px;

  .headerRow {
    align-items: center;

    .xrplLogo {
      width: 35px;
      height: 35px;
    }

    .navHeader {
      gap: 4%;
    }

    .userInfo {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
