.header {
  margin-top: 1%;
  margin-bottom: 60px;
}

.headerRow {
  align-items: center;
}

.screenRadios {
  display: flex;
  justify-content: center;
  gap: 4%;
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
