.xrplSwapLogo {
  display: flex;
  justify-content: center;
}

.screenRadios {
  display: flex;
  justify-content: center;
  gap: 4%;
}

.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
